@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* html, body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
} */

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

/* .text-gradient {
  background: linear-gradient(157.6deg, #F626D1 21.14%, #822CF1 80.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.border-gradient {
  border: solid 2px transparent !important;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(180deg, #F626D1, #822CF1) !important;
  background-origin: border-box !important;
  background-clip: content-box, border-box !important;
  box-shadow: 2px 1000px 1px #ffffff inset !important;
  overflow: hidden;
} */